<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossing Culinary Borders</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="content">
            <h1>Crossing Culinary Borders</h1>
            <nav>
            
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="content">
                <h2>Projekt</h2>
            </div>
        </section>
        <section>
            <div class="content round" id="sustainable-foood">
                <h2>Nachhaltige Ernährung</h2>                
                <div class="d-none">
                    <p>Als nachhaltiges Essen bezeichnet man Fleisch, Obst und Gemüse. In jeder Phase werden Schadstoffe freigesetzt, die die Luft, den Boden, die Flüsse und der Gesundheit schaden. Daher ist es wichtig Ernährungsweisen zu finden die dem Planeten und uns nicht schaden, das nennen wir Nachhaltige Ernährung.</p>
                    <article>
                        <h3>Landwirtschaft</h3>
                        <p>Die Produktion von Lebensmitteln beginnt mit einem grundlegenden Akt: Säen Sie einen Samen. Dann sorgt die Magie der Natur dafür, dass er keimt und die Entwicklung der Pflanze gewährleistet, zumindest wenn alle Voraussetzungen erfüllt sind! Genau das versucht der Mensch mit der Landwirtschaft.
                        Es gibt auch verschiedene Arten von Landwirtschaft wie zum Beispiel Subsistenzlandwirtschaft, Bauern- und Familienbetriebe, Industrielle oder kommerzielle Landwirtschaft, Intensive Landwirtschaft, Integrierte Landwirtschaft und Ökologischer Landbau.</p>
                    </article>
                    <article>
                        <h3>Industrieküche</h3>
                        <p>Unternehmen, egal ob große oder kleine, haben die Aufgabe, Lebensmittel in Fabriken zuzubereiten. Sie beziehen ihre Rohstoffe daher von Landwirten, die geografisch mehr oder weniger verantwortungsvolle Landwirtschaftsmodelle verfolgen.
                        Sobald diese Produkte konsumfertig sind, werden sie zu Supermärkten, Lebensmittelgeschäften und allen anderen Geschäften transportiert, die sie verkaufen möchten. Von dort aus werden die zum Kauf angeboten, das nennen wir Marketing. </p>
                    </article>
                    <article>
                        <h3>Verschwendung begrenzen</h3>
                        <p>Eine "hässliche" Tomate ist nicht unbedingt schlecht! Man kann sie beispielsweise zu einer köstlichen hausgemachten Tomatensauce verarbeiten. Es gibt Initiativen, die diesen Ansatz unterstützen: Konservenfabriken. Diese sammeln, verarbeiten und verkaufen Lebensmittel , die sonst  im Müll gelandet wären. </p>
                    </article>
                    <article>
                        <h3>Umweltverschmutzung</h3>
                        <p>Umweltverschmutzung ist die Beeinträchtigung der Umwelt durch vom Menschen verursachte Stoffe oder Belastungen. Sie kann Luft, Wasser, Boden jedes Element unseres Planeten beeinträchtigen! 
                        Auf jeder Etappe der Reise eines Lebensmittels kann es zu Umweltverschmutzung kommen : Chemikalien , die für den Anbau verwendet werden , können Boden und Wasser verunreinigen , beim Transport von Lebensmitteln werden schädliche Gase in die Luft abgegeben . Diese Umweltverschmutzung ist auch für den Menschen gefährlich , da sie seine Gesundheit beeinträchtigen kann.</p>
                    </article>
                    <article>
                        <h3>Gut essen ist Gesund</h3>
                        <p>Es ist unmöglich, lange ohne Essen auszukommen. Essen gibt dir die Energie, zur Schule zu gehen, nachzudenken und Sport zu treiben. Essen ist so wichtig wie Atmen! 
                        Es ist daher wichtig, ihre Lebensmittel sorgfältig auszuwählen, und das kann man lernen.</p><p>Jedes Lebensmittel besteht aus Nährstoffen. Sie werden vom Körper in Energie umgewandelt. So wie Pflanzen Licht zum Wachsen brauchen , braucht der menschliche Körper Nahrung , um sich zu bewegen !</p>
                        <p>Wählen Sie daher Lebensmittel mit guten Nährstoffen und beschränken Sie den Konsum von Lebensmitteln mit schlechten Nährstoffen wie Fett und Zucker. Süßigkeiten oder Eis sind nicht verboten ; es kommt auf Ausgewogenheit und Vielfalt an. Essen soll ein Genuss bleiben!</p>
                    </article>
                    <article>
                        <h3>Essen Sie saisonal</h3>
                        <p>Wenn sie frisches Obst und Gemüse essen möchten , sollten Sie saisonale Produkte wählen, also Lebensmittel, die natürlich gereift sind und ihrem normalen Wachstumstempo folgen. Ein saisonales Produkt, frisch aus dem Boden, behält seine volle Frische und seinen Nährwert : Das hat nur Vorteile!!</p>
                    </article>
                    <article>
                        <h3>Passen Sie Ihre Ernährung an!</h3>
                        <p>Manche Lebensmittel, wie zum Beispiel tierische Produkte (Fleisch, Fisch, Milchprodukte), benötigen für ihre Herstellung viele Ressourcen(Wasser, Energie, Platz usw.). Tiere müssen ihr Leben lang gefüttert, gepflegt und versorgt werden. Dazu gehört die Produktion oder der Kauf ihrer Lebensmittel, die Sicherstellung ihrer Gesundheit und die Bereitstellung eines Lebensraums. Ein einfacher Käse erfordert viel Sorgfalt und Mühe vom Produzenten, bevor er auf unserem Toast landet!</p>
                    </article>
                    <article>
                        <h3>Folgen der Lebensmittelverschwendung</h3>
                        <p>Lebensmittelverschwendung geht über das bloße Wegwerfen hinaus; sie hat erhebliche Auswirkungen auf unseren Planeten! Jedes Lebensmittel benötigt eine bestimmte Menge an Ressourcen und Energie, bevor es auf unseren Tellern landet: Wasser zum Waschen, Benzin für den Transport, Strom für die Kühlung und manchmal sogar Chemikalien für den Anbau. Es landet also mehr als nur eine Tomate im Müll!</p>
                    </article>
                    <article>
                        <h3>Wie kann Abfall begrenzt werden?</h3>
                        <p>Trotz all dieser alarmierenden Informationen kann jeder etwas tun, um Lebensmittelverschwendung zu vermeiden. Zum Beispiel in dem man lernt "hässliches" Obst und Gemüse zu lieben, egal ob eine Kartoffel krumm oder rund ist, beide schmecken gleich!</p>
                    </article>
                    <article>
                        <h3>Landwirtschaftliche Verschmutzung</h3>
                        <p>In der intensiven Landwirtschaft setzen die meisten Landwirte Chemikalien ein, um das Pflanzenwachstum zu beschleunigen oder sie vor bestimmten Insekten und Unkräutern zu schützen. Auf den Feldern versprüht, bleiben sie in der Luft und verursachen manchmal gesundheitliche Probleme bei Lebewesen.</p>
                    </article>
                </div>
            </div>
        </section>
    </main>
</body>
</html>