<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossing Culinary Borders</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="content">
            <h1>Crossing Culinary Borders</h1>
            <nav>
            
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="content">
                <h2>Projekt</h2>
                <div>
                    <h3>Projektidee</h3>
                    <details>
                        <summary>
                            <h3>Nachhaltige Ernährung</h3>
                        </summary>
                        <article>
                            <p>Sich mit jungen Menschen aus anderen europäischen Ländern austauschen, ihre Kultur kennenlernen, gemeinsam aktiv werden und die Zukunft gestalten – Das ist unser Ziel. Was bringt kulturelle Vielfalt in unserem Alltag besser zum Ausdruck, regt buchstäblich am einfachsten dazu an, über den Tellerrand zu schauen und lässt Menschen geselliger zusammenkommen als Essen?</p>
                            <p>So kam die Idee, internationale, regionale, traditionelle oder auch einfach leckere Lieblingsrezepte zu teilen und bei Begegnungen gemeinsam zu kochen.</p>
                            <p>Zugleich ist es wichtiger denn je, in der globalisierten Welt, dem fortschreitenden Klimawandel und dem vielfältigen, wenn nicht sogar unübersichtlichen Angebot, auf die Wahl der Lebensmittel zu achten. Gesundheit und Nachhaltigkeit sind grundlegende Maßstäbe.</p>
                            <p>Das Projekt zielte deshalb darauf ab, ein Bewusstsein für nachhaltige Ernährung zu schaffen und einen Einblick in die Essgewohnheiten anderer europäischer Länder zu geben.</p>
                            <p>Zum einen untersuchten die Schülerinnen und Schüler ihr eigenes Verhalten, ihre Schulen und ihr regionales Umfeld in Bezug auf Umweltfreundlichkeit im Umgang mit Lebensmitteln.</p>
                            <ul>
                                <li>Woher kommen die Produkte?</li>
                                <li>Wie verantwortungsvoll wird mit Lebensmitteln umgegangen?</li>
                                <li>Welche Lebensmittel sind saisonal und lokal? Wo und wie werden sie angebaut?</li>
                                <li>Vor welchen Herausforderungen stehen Landwirtschaft und Lebensmittelproduktion?</li>
                                <li>Gibt es Unternehmen, Partnerschaften und Projekte, die den Einsatz regionaler und nachhaltiger Produktionen erwägen und fördern?</li>
                                <li>Was kann unsere eigene Schule tun (oder mehr tun), um zu sensibilisieren und das Verhalten zu ändern?</li>
                            </ul>
                            <p>Darüber tauschten sich die Schülerinnen und Schüler der Partnerschulen in Form von Berichten, Postern oder Videos aus. Zum anderen wurden typische Mahlzeiten und Rezepte in Form von Rezeptbüchern oder Tutorials geteilt. Dies können Lieblingsspeisen, traditionelle oder moderne Gerichte sein. Ziel ist es, Gerichte aus Partnerländern nachzukochen. Die Beschaffung von Zutaten, die Zubereitung und der Konsum sollten so nachhaltig wie möglich sein.</p>
                            <p>Es erwuchs gleichzeitig auch die Idee eines Europacafés mit nachhaltigen Angeboten. Mittlerweile wurde die Schülerfirma Querblick tatsächlich gegründet und das Café eröffnet. Es steckt noch in den Anfängen, aber entwickelt sich nach und nach weiter.</p>
                            <p>Damit alle Rezepte und Infos genutzt und geteilt werden können, wurde diese App entwickelt. Sie soll zugleich die Möglichkeit bieten, die Rezeptsammlung zu erweitern und sich über die Rezepte austauschen zu können.</p>
                            <p>Guten Appetit! Bon appétit! Qué aproveche! Schmachnoho!</p>
                            <p class="source">Duteil, Pauline et al.: Une alimentation durable. Collection: Objectif green. Fleurus, Paris 2021</p>
                        </article>
                    </details>
                </div>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Partnerregionen</h2>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Rezepte</h2>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Europacaf&eacute;</h2>
            </div>
        </section>
    </main>
</body>
</html>