* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

body {
    background: orange;
}

.source {
    font-style: italic;
}

.source::before {
    content: 'Quelle: ';
    font-weight: bold;
}